<% content_for :head do %>
  <%= javascript_include_tag 'protovis' %>
  <%= javascript_include_tag :plugins %>
  <%= javascript_include_tag :visuals %>
  <style>
    h1, h2 {
      border-bottom: 2px solid black;
      border-top: 2px solid black;
      padding: 20px 0;
      text-align: center;
    }
    p {
      text-align: center;
    }
  </style>
<% end %>
<script type="text/javascript">
  var states = ['CA', 'ND', 'VT'],
      categories = {
        expense: [
          "Education",
          "Legislative",
          "Law Enforcement",
          "Parks & Recreation",
          "Public Works",
          "Arts",
          "Transportation",
          "Waste Management"
        ],
        revenue: [
          "Sales Tax",
          "Property Tax",
          "Income Tax",
          "Bearer Bonds",
          "Fees & Charges"
        ]
      },
      data = {
        expense: pv.range(categories.expense.length).map(function() {
          return [Math.random(), Math.random(), Math.random()];
        }),
        revenue: pv.range(categories.revenue.length).map(function() {
          return [Math.random(), Math.random(), Math.random()];
        }) 
      },
      proposal_data = {
        expense: pv.dict(categories.expense, function(c) {
          return data.expense[categories.expense.indexOf(c)].slice(0);
        }),
        revenue: pv.dict(categories.revenue, function(c) {
          return data.revenue[categories.revenue.indexOf(c)].slice(0);
        })
      };
</script>
<div class="two-col">
  <div class="column1">
    <h1 style="text-align:center;">Change...</h1>
    <p>Select a state's budget to change.</p>
    <%= render :partial => 'vis/states_map' %>
    <br/>
  </div>
  <div class="column2">
    <h1 style="text-align:center;">Compare to...</h1>
    <p>Select state(s) to overlay relative budgets.</p>
    <%= render :partial => 'vis/states_map' %>
    <br/>
  </div>
</div>
<div class="two-col">
  <div class="column1" style="border-right:1px solid black;height:100%;">
    <h2 style="text-align:center;margin:0;">Expenses</h2>
    <%= render :partial => 'vis/expense_bars' %>
  </div>
  <div class="column2">
    <h2 style="text-align:center;margin:0;">Revenues</h2>
    <%= render :partial => 'vis/revenue_bars' %>
  </div>
  <div class="footer">
  </div>
</div>